*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
    /*
        16px is he default font-size, so when we use the unit 'rem' it is based on 16px unless we redefine it
    */
}
h1{
    /* font-size: 3rem; */
    /* font-size: 40px; */
    font-size: 3vw;
    /* font-size: calc(1vw + 1.9rem); */
}
h2{
    /* font-size: 2.4rem; */
    font-size: calc(1vw + 1.3rem);
}
h3{
    /* font-size: 1.9rem; */
    font-size: calc(1vw + 0.8rem);
}
div{
    /* font-size: 1rem; */
    font-size: calc(1vw + 0.085rem);
    /* font-size: calc(1vw + 0.1rem); */
    background-color: aqua;
    margin: auto;
    padding: 20px;
    margin-top: 120px;
}
@media (max-width: 1366px){
    h3{
        font-size: calc(1vw + 1rem);
    }
    div{
        font-size: 1rem;
        background-color: aquamarine;
    }
}