*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

body{
	background-color: darkmagenta;
	height: 100vh;
	flex-direction: column;
}

h2{
	margin-bottom: 1.5rem;
	font-size: 2rem;
	color: black;
}

main{
	background-color: wheat;
	width: 19.4rem;
	height: 19.4rem;
	font-size: 4rem;

	display: grid;
	gap: 0.7rem 0.7rem;
	grid-template-columns: 6rem 6rem 6rem;
	grid-template-rows: 6rem 6rem 6rem;
	justify-content: center;
}

main div{
	background-color: teal;
}

#line-container{
	position: absolute;
}

#diagonal-line.display-line, #line.display-line{
	display: block;
}

#line{
	display: none;
	width: 19.4rem;
	height: 0.4rem;
	background-color: black;
	position: relative;
}

.cross-line-0{
	bottom: 6.7rem;
}

.cross-line-2{
	top: 6.7rem;
}

.cross-line-3{
	transform: rotate(90deg);
	right: 6.7rem;
}

.cross-line-4{
	transform: rotate(90deg);
}

.cross-line-5{
	transform: rotate(90deg);
	left: 6.7rem;
}

#diagonal-line{
	display: none;
	width: 21.4rem;
	height: 0.4rem;
	background-color: black;
	position: relative;
}

.cross-diagonal-line-1{
	transform: rotate(45deg);
}

.cross-diagonal-line-2{
	transform: rotate(-45deg);
}

button{
	margin-top: 1rem;
	font-size: 1.5rem;
	padding: 0.2rem;
}